<div class="col-4 d-flex justify-content-center mb-5">
    <div class="card p-2 shadow-sm">
        <a href="/cars/detail/<%= car.id %>" class="card-link">
            <div class="car-image mb-4">
                <img src="<%= car.image %>" alt="<%= car.name %>">
            </div>
            <div class="mb-3 gap-0">
                <p><%= car.name %>/<%= car.category %></p>
                <p class="fw-bold"><%= car.price %> / hari</p>
                <p class="fw-light card-text"><i class="bi bi-key-fill me-2"></i>Start rent - Finish rent</p>
                <p class="fw-light card-text"><i class="bi bi-clock me-2"></i>Updated at <%= car.updatedAt %></p>
            </div>
        </a>
        <div class="w-100 d-flex justify-content-center mb-2">
            <button class="card-button delete mx-auto" id="delete-car" car-id="<%= car.id %>"><i class="bi bi-trash3 me-2"></i>Delete</button>
            <button class="card-button edit mx-auto" id="update-car" car-id="<%= car.id %>"><i class="bi bi-pencil-square me-2"></i>Edit</button>
        </div>
    </div>
</div>


<script>
    document.querySelectorAll('#delete-car').forEach(button => {
        button.addEventListener('click', function () {
            const carId = button.getAttribute('car-id');
            const container = document.createElement('div');
            container.innerHTML = `<%- include('deletebox', { car:  { id: "${carId}" } }) %>`;
            document.body.appendChild(container);
        });
    });

    document.querySelectorAll('#update-car').forEach(button => {
        button.addEventListener('click', function () {
            const carId = button.getAttribute('car-id');
            window.location.href = `/cars/form/${carId}/edit`;
        });
    });

    document.addEventListener('click', function (e) {
        if (e.target.classList.contains('button-no')) {
            document.querySelector('.overlay-dialog').remove();
        }
    });
</script>